

<section id="navbar-component">
    <div class="navbar">

        <div class="navbar-title">
            <a href="">MEU BLOG</a>
        </div>
        <div class="navbar-navgation">
            <ul>
                <li><a routerLink="home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="about" routerLinkActive="active">About</a></li>
                <li><a routerLink="contact" routerLinkActive="active">Contacts</a></li>
            </ul>
        </div>

    </div>
</section>
