

<section id="footer-component">
    
    <div class="infos">
        <h3>Contatos:</h3>
        <p><strong>E-mail: </strong> rafa.devjp@gmail.com</p>
        <p><strong>Phone: </strong> (83) 98160-1349</p>
    </div>
    <div class="redes-sociais">
        <a href=""><img src="/assets/image/icons/github.png"></a>
        <a href=""><img src="/assets/image/icons/instagram.png"></a>
        <a href=""><img src="/assets/image/icons/linkedin.png"></a>
        <a id="dio" href=""><img src="/assets/image/icons/logo-full.svg"></a>
    </div>
    <div class="sub-footer">
        <h2 class="text-footer" >&copy;2023 - <span style="color: rgb(197, 207, 46);">Em desenvolvimento</span> por Rafael Andrade</h2>
    </div>
    <div class="sub-footer">
        <small> Este projeto foi desenvolvido apenas para fins de estudo, sem nenhum tipo de interesse monetários ou algo do gênero. </small>
    </div>
</section>

