
#footer-component{
    width: 100%;
    min-height: 200px;
    display: block;
    bottom: 0%;
    // border: solid #87e60c;
    background-color: steelblue;

    .text-footer{ 
        color: black;
        font-size: 14px;
        text-align: center;
    }
}

