

<!-- COMPOENENT TITULO PRINCIPAL -->
<app-title-main></app-title-main>

<!-- SECTIONS DOS CARDS -->

<section id="home-component">

    <div class="container-main">
        <!-- CARD MAIN -->
        <div class="big-card-box">
            <app-big-card 
            [descricao]="this.poste?.descricao" 
            [imagem]="this.poste?.imagem" 
            [texto]="this.poste?.texto" 
            [titulo]="this.poste?.titulo">
        </app-big-card>
        </div>

        <!-- OTHERS CARDS -->

        <div class="others-cards-box">
            <app-other-cards *ngFor="let card of listCards" 
                [imagem]="card.imagem" 
                [descricao]="card.descricao" 
                [titulo]="card.titulo" 
                [texto]="card.texto"> 
            </app-other-cards>
        </div>
    </div>

</section>
