

#home-component{
    background-color: var(--color-black-principal);

    .container-main{
        width: 73%;
        margin-inline: auto !important;
        box-sizing: border-box;
        // border: solid #d17710;
        padding: 1rem;
        display: flex;
        justify-content: center;
        .big-card-box{
            box-sizing: border-box;
            width: 50%;
            padding: 0 15px !important;
        }
        .others-cards-box{
            box-sizing: border-box;
            padding: 0 10px !important;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

    }

}