

<!-- big Card Componets -->


<section id="big-card-components">

        <div class="bg-card">
            <figure [routerLink]="['/poster/', idCard ]">
                <img [src]="imagem" 
                [alt]="descricao">
                <figcaption><small>{{descricao}}</small></figcaption>
            </figure>
            <h1 [routerLink]="['/poster/', idCard ]">{{titulo}}</h1>

            <p> {{texto}} <a [routerLink]="['/poster/', idCard ]"> ver mais...</a></p>
        </div>

</section>