

<!-- big Card Componets -->


<section id="big-card-components">

        <div class="bg-card">
            <figure>
                <img src="/assets/image/cards/pexels-antoni-shkraba-6322369.jpg" 
                alt="pexels-antoni-shkraba">
                <figcaption><small>An elephant at sunset</small></figcaption>
            </figure>
            <h1>Design gráfico e arte urbana como ferramentas para o desenvolvimento social</h1>

            <p> O Pimp my Carroça é um programa
                que utiliza a arte como instrumento de
                conscientização, engajamento e transformação social e objetiva conquistar a inclusão social para catadores de materiais
                recicláveis, carroceiros e seus familiares,
                bem como vislumbrar melhores condições
                de trabalho. Com o objetivo de melhorar
                a vida desses trabalhadores e alertar a sociedade sobre a importância destes para
                o funcionamento das cidades, o grafiteiro
                Mundano criou o projeto cujo nome é
                uma paródia dos programas de TV que
                “tunam”, reformam carros <a href=""> ver mais...</a>
            </p>
        </div>

</section>